.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 610px;
}

.socialIcons1 {
    display: flex;
    gap: 12px;
}

.socialIcons1>.iconButton {
    background-color: #e6e8f0;
    color: #747070;
}

.footerText {
    margin: 0;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #747070;
}