* {
    margin: 0;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.footerNew {
    margin-top: auto;
}

.sampleImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}