* {
    margin: 0;
    box-sizing: border-box;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footerNew {
    margin-top: auto;
}

.sampleImage {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 767px) {
    .example-container>div:nth-child(3) {
        flex-direction: column !important;
        padding: 10px !important;
    }

    .example-container>div:nth-child(3)>div:first-child {
        margin-left: 0 !important;
        margin-top: 30px !important;
        max-width: 100% !important;
        padding: 0 10px;
    }

    .example-container>div:nth-child(3)>div:first-child h2 {
        font-size: 24px !important;
    }

    .example-container>div:nth-child(3)>div:first-child span {
        font-size: 14px !important;
    }

    .example-container>div:nth-child(3)>div:last-child {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-top: 30px;
        order: -1;
    }

    .sampleImage {
        width: 100%;
        margin-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .example-container>div:nth-child(3) {
        flex-direction: column !important;
        padding: 40px 30px !important;
    }

    .example-container>div:nth-child(3)>div:first-child {
        margin-left: 0 !important;
        margin-top: 40px !important;
        max-width: 100% !important;
        padding: 0 20px;
    }

    .example-container>div:nth-child(3)>div:first-child h2 {
        font-size: 36px !important;
    }

    .example-container>div:nth-child(3)>div:first-child span {
        font-size: 16px !important;
    }

    .example-container>div:nth-child(3)>div:last-child {
        max-width: 80% !important;
        margin: 40px auto 0 !important;
        order: -1;
    }

    .sampleImage {
        width: 100%;
        margin-left: 103px;
    }
}

@media (min-width: 1024px) {
    .example-container>div:nth-child(3)>div:first-child {
        margin-left: 100px !important;
        margin-top: 100px !important;
        max-width: 500px !important;
    }

    .example-container>div:nth-child(3)>div:first-child h2 {
        font-size: 55px !important;
    }

    .example-container>div:nth-child(3)>div:first-child span {
        font-size: 18px !important;
    }

    .example-container>div:nth-child(3)>div:last-child {
        max-width: 50% !important;
    }

    .sampleImage {
        width: 100%;
        margin-left: 60px;
    }
}