.processField {
    position: absolute;
    top: 30px;
    left: 40%;
    height: 70px;
    width: 500px;
    background-color: white;
    border-radius: 37px;
    display: flex;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 0 20px;
}