.button-all-container Button {
    min-width: 150px !important;
    height: 50px !important;
    font-size: 15px !important;
}

@media (max-width: 767px) {
    .button-all-container Button {
        min-width: 120px !important;
        height: 40px !important;
        font-size: 12px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .button-all-container Button {
        min-width: 140px !important;
        height: 45px !important;
        font-size: 13px !important;
    }
}

@media (min-width: 1024px) {
    .button-all-container Button {
        min-width: 150px !important;
        height: 50px !important;
        font-size: 15px !important;
    }
}